---
import Layout from "../layouts/Layout.astro";
---

<Layout title="EDSL GenAI">
  <main>
    <!-- component -->
    <div class="flex h-screen antialiased text-gray-800">
      <div class="flex flex-row h-full w-full overflow-x-hidden">
        <div class="flex flex-col py-8 pl-6 pr-2 w-64 bg-white flex-shrink-0">
          <div class="flex flex-row items-center justify-center h-12 w-full">
            <div
              class="flex items-center justify-center rounded-2xl text-fuchsia-900 bg-indigo-100 h-10 w-10"
            >
              <svg
                class="w-6 h-6"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z"
                ></path>
              </svg>
            </div>
            <div class="ml-2 font-bold text-2xl">EDSL GenAI</div>
          </div>
          <div
            class="flex flex-col items-center bg-indigo-100 border border-gray-200 mt-4 w-full py-6 px-4 rounded-lg"
          >
            <div class="h-25 w-20 border overflow-hidden">
              <img
                src="https://github.com/esarmiem/imgrepo/blob/master/experianlogo.png?raw=true"
                alt="Avatar"
                class="h-full w-full"
              />
            </div>
            <div class="text-sm font-semibold mt-2">Experian</div>
            <div class="text-xs text-center text-gray-500">
              Experian Domain Specific Language Generator
            </div>
            <div class="flex flex-row items-center mt-3"></div>
          </div>
          <div class="flex flex-col mt-8">
            <div class="flex flex-row items-center justify-between text-xs">
              <span class="font-bold">Menu</span>
            </div>
            <div
              class="flex flex-col space-y-1 mt-4 -mx-2 h-48 overflow-y-auto"
            >
              <button
                class="flex flex-row items-center hover:bg-gray-100 rounded-xl p-2"
              >
                <div
                  class="flex items-center justify-center h-8 w-8 bg-indigo-200 rounded-full"
                >
                <svg width="20" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <g fill="none" stroke="#000000" stroke-width="1.5">
                      <path stroke-linejoin="round" d="M4 18a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2Z"/>
                      <circle cx="12" cy="7" r="3"/>
                  </g>
              </svg>
                </div>
                <div class="ml-2 text-sm font-semibold">Profile</div>
              </button>
              <button
                class="flex flex-row items-center hover:bg-gray-100 rounded-xl p-2"
              >
                <div
                  class="flex items-center justify-center h-8 w-8 bg-gray-200 rounded-full"
                >
                <svg width="20" height="20" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
                  <path fill="#000000" d="M216 48H40a16 16 0 0 0-16 16v160a15.84 15.84 0 0 0 9.25 14.5A16.05 16.05 0 0 0 40 240a15.89 15.89 0 0 0 10.25-3.78a.69.69 0 0 0 .13-.11L82.5 208H216a16 16 0 0 0 16-16V64a16 16 0 0 0-16-16ZM40 224Zm176-32H82.5a16 16 0 0 0-10.3 3.75l-.12.11L40 224V64h176Z"/>
              </svg>
                </div>
                <div class="ml-2 text-sm font-semibold">Chat History</div>
                <div
                  class="flex items-center justify-center ml-auto text-xs text-white bg-red-500 h-4 w-4 rounded leading-none"
                >
                  2
                </div>
              </button>
              <button
                class="flex flex-row items-center hover:bg-gray-100 rounded-xl p-2"
              >
                <div
                  class="flex items-center justify-center h-8 w-8 bg-cyan-300 rounded-full"
                >
                <svg width="20" height="20" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                  <path fill="#000000" d="M764 280.9c-14-30.6-33.9-58.1-59.3-81.6C653.1 151.4 584.6 125 512 125s-141.1 26.4-192.7 74.2c-25.4 23.6-45.3 51-59.3 81.7c-14.6 32-22 65.9-22 100.9v27c0 6.2 5 11.2 11.2 11.2h54c6.2 0 11.2-5 11.2-11.2v-27c0-99.5 88.6-180.4 197.6-180.4s197.6 80.9 197.6 180.4c0 40.8-14.5 79.2-42 111.2c-27.2 31.7-65.6 54.4-108.1 64c-24.3 5.5-46.2 19.2-61.7 38.8a110.85 110.85 0 0 0-23.9 68.6v31.4c0 6.2 5 11.2 11.2 11.2h54c6.2 0 11.2-5 11.2-11.2v-31.4c0-15.7 10.9-29.5 26-32.9c58.4-13.2 111.4-44.7 149.3-88.7c19.1-22.3 34-47.1 44.3-74c10.7-27.9 16.1-57.2 16.1-87c0-35-7.4-69-22-100.9zM512 787c-30.9 0-56 25.1-56 56s25.1 56 56 56s56-25.1 56-56s-25.1-56-56-56z"/>
              </svg>
                </div>
                <div class="ml-2 text-sm font-semibold">FAQ</div>
              </button>
              <button
                class="flex flex-row items-center hover:bg-gray-100 rounded-xl p-2"
              >
                <div
                  class="flex items-center justify-center h-8 w-8 bg-pink-200 rounded-full"
                >
                <svg width="20" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <g fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                      <path d="M20.5 20.5L22 22m-7-4a3 3 0 1 0 6 0a3 3 0 0 0-6 0Z"/>
                      <path d="M20 12V5.749a.6.6 0 0 0-.176-.425l-3.148-3.148A.6.6 0 0 0 16.252 2H4.6a.6.6 0 0 0-.6.6v18.8a.6.6 0 0 0 .6.6H11"/>
                      <path d="M16 2v3.4a.6.6 0 0 0 .6.6H20"/>
                  </g>
              </svg>
                </div>
                <div class="ml-2 text-sm font-semibold">Documentation</div>
              </button>
              <button
                class="flex flex-row items-center hover:bg-gray-100 rounded-xl p-2"
              >
                <div
                  class="flex items-center justify-center h-8 w-8 bg-purple-200 rounded-full"
                >
                <svg width="20" height="20" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                  <path fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M3 7V4.37A3.93 3.93 0 0 1 7 .5h0a3.93 3.93 0 0 1 4 3.87V7M1.5 5.5h1A.5.5 0 0 1 3 6v3a.5.5 0 0 1-.5.5h-1a1 1 0 0 1-1-1v-2a1 1 0 0 1 1-1Zm11 4h-1A.5.5 0 0 1 11 9V6a.5.5 0 0 1 .5-.5h1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1ZM9 12.25a2 2 0 0 0 2-2h0V8m-2 4.25a1.25 1.25 0 0 1-1.25 1.25h-1.5a1.25 1.25 0 0 1 0-2.5h1.5A1.25 1.25 0 0 1 9 12.25Z"/>
              </svg>
                </div>
                <div class="ml-2 text-sm font-semibold">Support</div>
              </button>
            </div>
            <div
              class="flex flex-row items-center justify-between text-xs mt-6"
            >
              <span class="font-bold">More</span>
            </div>
            <div class="flex flex-col space-y-1 mt-4 -mx-2">
              <button
                class="flex flex-row items-center hover:bg-gray-100 rounded-xl p-2"
              >
                <div
                  class="flex items-center justify-center h-8 w-8 bg-indigo-200 rounded-full"
                >
                <svg width="20" height="20" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                  <path fill="#000000" d="M600.704 64a32 32 0 0 1 30.464 22.208l35.2 109.376c14.784 7.232 28.928 15.36 42.432 24.512l112.384-24.192a32 32 0 0 1 34.432 15.36L944.32 364.8a32 32 0 0 1-4.032 37.504l-77.12 85.12a357.12 357.12 0 0 1 0 49.024l77.12 85.248a32 32 0 0 1 4.032 37.504l-88.704 153.6a32 32 0 0 1-34.432 15.296L708.8 803.904c-13.44 9.088-27.648 17.28-42.368 24.512l-35.264 109.376A32 32 0 0 1 600.704 960H423.296a32 32 0 0 1-30.464-22.208L357.696 828.48a351.616 351.616 0 0 1-42.56-24.64l-112.32 24.256a32 32 0 0 1-34.432-15.36L79.68 659.2a32 32 0 0 1 4.032-37.504l77.12-85.248a357.12 357.12 0 0 1 0-48.896l-77.12-85.248A32 32 0 0 1 79.68 364.8l88.704-153.6a32 32 0 0 1 34.432-15.296l112.32 24.256c13.568-9.152 27.776-17.408 42.56-24.64l35.2-109.312A32 32 0 0 1 423.232 64H600.64zm-23.424 64H446.72l-36.352 113.088l-24.512 11.968a294.113 294.113 0 0 0-34.816 20.096l-22.656 15.36l-116.224-25.088l-65.28 113.152l79.68 88.192l-1.92 27.136a293.12 293.12 0 0 0 0 40.192l1.92 27.136l-79.808 88.192l65.344 113.152l116.224-25.024l22.656 15.296a294.113 294.113 0 0 0 34.816 20.096l24.512 11.968L446.72 896h130.688l36.48-113.152l24.448-11.904a288.282 288.282 0 0 0 34.752-20.096l22.592-15.296l116.288 25.024l65.28-113.152l-79.744-88.192l1.92-27.136a293.12 293.12 0 0 0 0-40.256l-1.92-27.136l79.808-88.128l-65.344-113.152l-116.288 24.96l-22.592-15.232a287.616 287.616 0 0 0-34.752-20.096l-24.448-11.904L577.344 128zM512 320a192 192 0 1 1 0 384a192 192 0 0 1 0-384zm0 64a128 128 0 1 0 0 256a128 128 0 0 0 0-256z"/>
              </svg>
                </div>
                <div class="ml-2 text-sm font-semibold">Settings</div>
              </button>
            </div>
          </div>
        </div>
        <div class="flex flex-col flex-auto h-full p-6">
          <div
            class="flex flex-col flex-auto flex-shrink-0 rounded-2xl bg-gray-100 h-full p-4"
          >
            <div class="flex flex-col h-full overflow-x-auto mb-4">
              <div class="flex flex-col h-full">
                <div class="grid grid-cols-12 gap-y-2">
                  <div class="col-start-1 col-end-8 p-3 rounded-lg">
                    <div class="flex flex-row items-center">
                      <div
                        class="flex items-center justify-center h-10 w-10 rounded-full bg-blue-400 flex-shrink-0"
                      >
                        A
                      </div>
                      <div
                        class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl"
                      >
                        <p>Hello, I'm EDSL GenAI, and I can help you generate and solve problems in your script.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-start-1 col-end-8 p-3 rounded-lg">
                    <div class="flex flex-row items-center">
                      <div
                        class="flex items-center justify-center h-10 w-10 rounded-full bg-blue-400 flex-shrink-0"
                      >
                        A
                      </div>
                      <div
                        class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl"
                      >
                        <div>
                          How can I assist you today?
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-start-6 col-end-13 p-3 rounded-lg">
                    <div
                      class="flex items-center justify-start flex-row-reverse"
                    >
                      <div
                        class="flex items-center justify-center h-10 w-10 rounded-full bg-blue-400 flex-shrink-0"
                      >
                        A
                      </div>
                      <div
                        class="relative mr-3 text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl"
                      >
                        <div>I have some issues with my script.</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-start-6 col-end-13 p-3 rounded-lg">
                    <div
                      class="flex items-center justify-start flex-row-reverse"
                    >
                      <div
                        class="flex items-center justify-center h-10 w-10 rounded-full bg-blue-400 flex-shrink-0"
                      >
                        A
                      </div>
                      <div
                        class="relative mr-3 text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl"
                      >
                        <div>
                          I need to generate an algorithm that solves a numerical calculation between two dates.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-start-1 col-end-8 p-3 rounded-lg">
                    <div class="flex flex-row items-center">
                      <div
                        class="flex items-center justify-center h-10 w-10 rounded-full bg-blue-400 flex-shrink-0"
                      >
                        A
                      </div>
                      <div
                        class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl"
                      >
                        <div>Okay, to perform that calculation, you should use the DATE function included in the language and create two variables with the dates you want to calculate.</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-start-6 col-end-13 p-3 rounded-lg">
                    <div
                      class="flex items-center justify-start flex-row-reverse"
                    >
                      <div
                        class="flex items-center justify-center h-10 w-10 rounded-full bg-blue-400 flex-shrink-0"
                      >
                        A
                      </div>
                      <div
                        class="relative mr-3 text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl"
                      >
                        <div>
                          Sure, could you give me a step-by-step guide to do it in an audio note?
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-start-1 col-end-8 p-3 rounded-lg">
                    <div class="flex flex-row items-center">
                      <div
                        class="flex items-center justify-center h-10 w-10 rounded-full bg-blue-400 flex-shrink-0"
                      >
                        A
                      </div>
                      <div
                        class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl"
                      >
                        <div>
                          Yes, of course, I can provide the step-by-step guide in an audio for you shortly.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-start-1 col-end-8 p-3 rounded-lg">
                    <div class="flex flex-row items-center">
                      <div
                        class="flex items-center justify-center h-10 w-10 rounded-full bg-blue-400 flex-shrink-0"
                      >
                        A
                      </div>
                      <div
                        class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl"
                      >
                        <div class="flex flex-row items-center">
                          <button
                            class="flex items-center justify-center bg-fuchsia-800 hover:bg-fuchsia-600 rounded-full h-8 w-10"
                          >
                            <svg
                              class="w-6 h-6 text-white"
                              fill="none"
                              stroke="currentColor"
                              viewBox="0 0 24 24"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="1.5"
                                d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z"
                              ></path>
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="1.5"
                                d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                          </button>
                          <div
                            class="flex flex-row items-center space-x-px ml-4"
                          >
                            <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                            <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                            <div class="h-4 w-1 bg-gray-500 rounded-lg"></div>
                            <div class="h-8 w-1 bg-gray-500 rounded-lg"></div>
                            <div class="h-8 w-1 bg-gray-500 rounded-lg"></div>
                            <div class="h-10 w-1 bg-gray-500 rounded-lg"></div>
                            <div class="h-10 w-1 bg-gray-500 rounded-lg"></div>
                            <div class="h-12 w-1 bg-gray-500 rounded-lg"></div>
                            <div class="h-10 w-1 bg-gray-500 rounded-lg"></div>
                            <div class="h-6 w-1 bg-gray-500 rounded-lg"></div>
                            <div class="h-5 w-1 bg-gray-500 rounded-lg"></div>
                            <div class="h-4 w-1 bg-gray-500 rounded-lg"></div>
                            <div class="h-3 w-1 bg-gray-500 rounded-lg"></div>
                            <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                            <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                            <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                            <div class="h-10 w-1 bg-gray-500 rounded-lg"></div>
                            <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                            <div class="h-10 w-1 bg-gray-500 rounded-lg"></div>
                            <div class="h-8 w-1 bg-gray-500 rounded-lg"></div>
                            <div class="h-8 w-1 bg-gray-500 rounded-lg"></div>
                            <div class="h-1 w-1 bg-gray-500 rounded-lg"></div>
                            <div class="h-1 w-1 bg-gray-500 rounded-lg"></div>
                            <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                            <div class="h-8 w-1 bg-gray-500 rounded-lg"></div>
                            <div class="h-8 w-1 bg-gray-500 rounded-lg"></div>
                            <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                            <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                            <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                            <div class="h-2 w-1 bg-gray-500 rounded-lg"></div>
                            <div class="h-4 w-1 bg-gray-500 rounded-lg"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="flex flex-row items-center h-16 rounded-xl bg-white w-full px-4"
            >
              <div>
                <button
                  class="flex items-center justify-center text-gray-400 hover:text-gray-600"
                >
                  <svg
                    class="w-5 h-5"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13"
                    ></path>
                  </svg>
                </button>
              </div>
              <div class="flex-grow ml-4">
                <div class="relative w-full">
                  <input
                    type="text"
                    class="flex w-full border-2 rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10"
                  />
                  <button
                    class="absolute flex items-center justify-center h-full w-12 right-0 top-0 text-gray-400 hover:text-gray-600"
                  >
                  </button>
                </div>
              </div>
              <div class="ml-4">
                <button
                  class="flex items-center justify-center bg-fuchsia-800 hover:bg-fuchsia-600 rounded-xl text-white px-4 py-1 flex-shrink-0"
                >
                  <span>Send</span>
                  <span class="ml-2">
                    <svg
                      class="w-4 h-4 transform rotate-45 -mt-px"
                      fill="none"
                      stroke="currentColor"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
                    </svg>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
